In [10]:
import pandas as pd

# Load CSV into DataFrame
df = pd.read_csv('data2/geolife_global_meets.csv')

# Define a function to extract persons from the 'users' column
def extract_persons(users):
    persons = eval(users)
    person_a, person_b = map(int, persons)
    return (person_a, person_b) if person_a < person_b else (person_b, person_a)

# Apply the function to create new columns for person A and person B
df['person_a'], df['person_b'] = zip(*df['users'].apply(extract_persons))

# Count the number of meetings from the geohashes column
def count_meetings(geohashes):
    return len(eval(geohashes))

df['meetings_count'] = df['geohashes'].apply(count_meetings)

# Group by person_a and person_b, and count occurrences
counts = df.groupby(['person_a', 'person_b']).agg({'meetings_count': 'sum'}).reset_index()

# Sort by person_a
counts = counts.sort_values(by='person_a')

# Optionally, you can save the new table to a CSV file
counts.to_csv('data2/new_table.csv', index=False)

In [11]:
counts

     person_a  person_b  meetings_count
0           0        15               5
1           2         8               1
2           2         9               2
3           3         4            2988
4           3         5             372
..        ...       ...             ...
158       153       155             544
160       153       167              36
162       163       175               6
161       163       167              25
163       164       176               1

[164 rows x 3 columns]